# Node
node_modules/
npm-debug.log

# Python
__pycache__/
*.pyc
.venv/
.env

# Docker
*.log
docker-data/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# repos cloned by tools
repos/
ai-service/test.db