fastapi
uvicorn
requests
langchain
langgraph
langchain-openai
dotenv
pydantic
langchain_groq
langchain_core
sqlalchemy
psycopg2-binary
passlib[bcrypt]
python-jose
argon2-cffi
faiss-cpu 
 
langchain-community
langchain-text-splitters
langchain-huggingface

